  /*carosello sport*/

  #wrapper {
    position: relative;
    margin-left: 17%;
    margin-right: 17%;
  }

  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 95px;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
    top: 95px;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  .item {
    width: 180px;
    height: 180px;
    background: green;
  }
  
  .carosueltxt{
    font-family:helvetica;
    text-align:center;
    color:#222222;
  }
.with-line {
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.with-line .line {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 1ex;
    background-color: grey;
    opacity: .1;
}

  /*carosello film*/

  #wrapper2 {
    position: relative;
    margin-left: 17%;
    margin-right: 17%;
  }

  #carousel2  {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel2::-webkit-scrollbar {
    height: 0;
  }
  
  #prev2,
  #next2 {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev2 {
    top: 95px;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next2 {
    top: 95px;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content2 {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  
  .item2 {
    width: 180px;
    height: 180px;
    background: green;
  }
  
  .carosueltxt2{
    font-family:helvetica;
    text-align:center;
    color:#222222;
  }
.with-line2 {
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.with-line2 .line2 {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 1ex;
    background-color: grey;
    opacity: .1;
}

/*carosello teatro*/

#wrapper3 {
  position: relative;
  margin-left: 17%;
  margin-right: 17%;
}

#carousel3  {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel3::-webkit-scrollbar {
  height: 0;
}

#prev3,
#next3 {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev3 {
  top: 95px;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next3 {
  top: 95px;
  right: 0;
  transform: translate(-50%, -50%);
}

#content3 {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item3 {
  width: 180px;
  height: 180px;
  background: green;
}

.carosueltxt3{
  font-family:helvetica;
  text-align:center;
  color:#222222;
}
.with-line3{
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.with-line3 .line3 {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 1ex;
  background-color: grey;
  opacity: .1;
}

/*carosello concerti*/

#wrapper4 {
  position: relative;
  margin-left: 17%;
  margin-right: 17%;
}

#carousel4  {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel4::-webkit-scrollbar {
  height: 0;
}

#prev4,
#next4 {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev4 {
  top: 95px;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next4 {
  top: 95px;
  right: 0;
  transform: translate(-50%, -50%);
}

#content4 {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item4 {
  width: 180px;
  height: 180px;
  background: green;
}

.carosueltxt4 {
  font-family:helvetica;
  text-align:center;
  color:#222222;
}
.with-line4 {
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.with-line4 .line4 {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 1ex;
  background-color: grey;
  opacity: .1;
}

