<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/stili.css">
  <link rel="stylesheet" href="css/signInUp.css">
  <link rel="stylesheet" href="css/footerstyle.css">
  <script src="js/footer.js" defer></script>
</head>

<body class="tutto">
  <script src="js/intestazione.js"></script>
  <div class="contenitore">
  <form action="areaRiservata.html">
    <p class="contenitore-title">Accedi al tuo account</p>
     <div class="input-cont" style="text-align: center;">
       <input type="text" placeholder="Username">
       <span>
       </span>
   </div>
   <div class="input-cont" style="text-align: center;">
       <input type="password" placeholder="Password">
     </div>
      <button type="submit" style="margin-left: 42.5%; margin-right: 42.5%"  class="submi">
     Sign in
   </button>
</form>
<form action="registrazione.html">
<p class="signin-link">
  Non hai un account?
  <input type="submit" value="Registrati" name="registrati" id="registrati">
</p>
</form>
</div>
<a href="#top" style="text-decoration: none;"><center>Back to top</center></a>
<script src="js/footer.js"></script>
</body>

</html>


